body {
    background-color: white;
    text-align: center;
    padding-top: 175px; 
    margin: 50x;
}

.intro {
    position: fixed; /* Keep it fixed at the top of the page */
    top: 0; /* Align it at the top */
    left: 0; /* Align it to the left of the page */
    width: 100%; /* Scale to the full width of the webpage */
    background-color: rgb(255, 207, 207); /* Background color */
    text-align: center; /* Center the text horizontally */
    height: 170px;
    font-size: large;
}

.image-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;    /* Center elements horizontally */
    margin: 0 auto;         /* Center the whole container */
    width: fit-content;     /* Shrink container to fit contents */
}

.start-image {
    height: 400px;
    width: 700px;
    outline: 5px black solid;
    margin-bottom: 20px; /* Space between image and button */
}

#start-btn {
    height: 50px;
    width: 200px;
    cursor: pointer;
    margin: 0; /* Remove extra margin */
    display: block; /* Ensure it behaves as a block element */
    font-family:cursive;
    background-color: pink;
    border-radius: 50%;
}


div {
    margin: 1px;
    /*outline: 2px red solid;*/
}

.correctex {
    display: none;
}

.incorrectex {
    display: none;
}

#finish {
    display: none;
}

#blue, #black, #red, #yellow, #green {
    border: 10px solid;
    border-radius: 100%;
    height: 175px;
    width: 175px;
    color: black;
    background-color: white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in-out;
}

#blue {
    border-color: rgb(0,129,200);
}

#black {
    border-color: rgb(0,0,0) ;
}

#red {
    border-color:  rgb(238,51,78);
}

#yellow {
    border-color:  rgb(252,177,49);
}

#green {
    border-color:  rgb(0,166,81);
}

#blue:hover, #black:hover, #red:hover, #yellow:hover, #green:hover {
    transform: scale(1.1); 
}

.no-transform {
    transform: none !important; 
    cursor: no-drop;
}

